:root {
    --root-font-color: hsl(0, 0%, 80%);
    --root-highlight-color: hsl(0, 0%, 95%);

    --logo-white: hsl(0, 0%, 90%);
    --logo-yellow: hsl(47, 100%, 80%);
    --logo-font-size: 1.4rem;

    /* NAV */
    --nav-background: hsl(0, 0%, 9%);
    --nav-border: hsl(0, 0%, 14%);
    --nav-item-text-color-hover: hsl(0, 0%, 100%);

    /* Nav Width */
    --nav-collapsed-width: 100px;
    --nav-expanded-width: 250px;

    --shortcut-nav-background: hsl(0, 0%, 7%);

    --shortcut-list-bg: hsl(0, 0%, 9%);
}


button,
select {
    color: var(--root-font-color);
}

body {
    display: flex;
    background-color: hsl(0, 0%, 5%);
    flex: 1 0 0;
    width: 100vw;
    height: 100vh;
    padding: 1.5rem;
    gap: 1.5rem;
    color: var(--root-font-color);
}
















.content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex: 1 1 0;


    & > #keyboard-wrapper {
        display: flex;
        justify-content: center;

        &:not(:has(> div)) {
            display: none;
        }
    }
}