:root {
    --root-font-color: hsl(0, 0%, 80%);
    --root-highlight-color: hsl(0, 0%, 95%);

    --logo-white: hsl(0, 0%, 90%);
    --logo-yellow: hsl(47, 100%, 80%);
    --logo-font-size: 1.4rem;

    /* NAV */
    --nav-background: hsl(0, 0%, 9%);
    --nav-border: hsl(0, 0%, 14%);
    --nav-item-text-color-hover: hsl(0, 0%, 100%);
    --nav-collapse-width: 100px;
    --nav-expand-width: 250px;

    --shortcut-nav-background: hsl(0, 0%, 7%);

    --shortcut-list-bg: hsl(0, 0%, 9%);
}


button,
select {
    color: var(--root-font-color);
}

body {
    display: flex;
    background-color: hsl(0, 0%, 5%);
    flex: 1 0 0;
    width: 100vw;
    height: 100vh;
    color: var(--root-font-color);
}

nav {
    width: var(--nav-collapse-width);
    min-width: var(--nav-collapse-width);
    max-width: var(--nav-expand-width);
    height: 100%;
    transition: .2s ease;
    transition-property: width;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--nav-background);
    border-right: 2px solid var(--nav-border);
    position: relative;
    overflow: hidden;

    div.branding {
        display: flex;
        padding: 1.5rem .5rem;
        margin-bottom: 3rem;

        & h1 {
            text-align: right;
            font-size: 1rem;
            width: auto;
            display: inline-block;
            color: var(--logo-white);
            transition: .2s ease;
            transition-property: width, font-size, padding-left;

            & span {
                color: var(--logo-yellow);
                margin-left: auto;
            }
        }
    }

    & .ul-wrapper {
        position: absolute;
        top: 10rem;
        width: 100%;
        height: 100%;

        & ul.primary {
            position: absolute;
            inset: 0;
            width: var(--nav-collapse-width);
            transition: left .2s;

            & li {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: .3rem;
                padding: 1rem 1.3rem;
                cursor: pointer;
                user-select: none;
                font-size: .7rem;
                text-align: center;
                transition: opacity .5s, background-color .2s;
                transition: .2s ease;
                transition-property: width, flex-direction;

                &.disabled {
                    opacity: .6;
                    cursor: default;
                }

                &:hover:not(.disabled) {
                    color: var(--nav-item-text-color-hover);
                    background-color: hsla(0, 0%, 100%, 0.04);
                }

                & svg {
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
        }


        & ul.secondary {
            position: absolute;
            inset: 0 0 0 calc(var(--nav-expand-width) - var(--nav-expand-width) * 2);
            width: var(--nav-expand-width);
            transition: left .2s;

            & li {
                padding: .8rem 1.3rem;
                font-size: .7rem;
                display: flex;
                gap: .6rem;
                align-items: center;
                cursor: pointer;

                &:hover {
                    color: var(--nav-item-text-color-hover);
                    background-color: hsla(0, 0%, 100%, 0.04);
                }

                & svg {
                    width: 1.3rem;
                    height: 1.3rem;
                }


                &.nav {
                    gap: .3rem;
                    font-size: .7rem;
                }
            }
        }

        &#secActive {
            & ul.primary {
                left: 100%;
            }

            & ul.secondary {
                left: 0;
            }
        }

        &:has(.changing-activeNavOptions) ul li {
            pointer-events: none;
        }
    }



    &:has(.ul-wrapper#secActive) {
        width: var(--nav-expand-width);

        & .branding {
            & h1 {
                padding-left: 1rem;
                font-size: 1.3rem !important;
            }
        }
    }

}











.content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
    flex: 1 1 0;


    & > #keyboard-wrapper {
        display: flex;
        justify-content: center;
    }



    & > .shortcut-wrapper {
        display: flex;
        flex: 1 1;
        border-radius: 1rem;
        border: 1px solid var(--nav-border);
        overflow: hidden;


        & > ul {
            list-style-type: none;
            flex: 1 1 0;
        }



        & > ul:first-child {
            flex: 0 0 25%;
            min-width: 200px;
        }


        & > ul.software-list {
            background-color: var(--shortcut-nav-background);
            border-right: 1px solid var(--nav-border);

            & li {
                display: flex;
                place-content: center space-between;
                cursor: pointer;
                transition: background-color .05s;

                padding: .8rem 1rem;
                font-size: 1rem;

                & span {
                    display: flex;
                    place-content: center;
                    gap: .5rem;
                }

                & span.total {
                    background-color: var(--shortcut-nav-background);
                    padding: .2rem .5rem;
                    border-radius: .5rem;
                    font-size: .8rem;
                }

                & img,
                svg {
                    width: 1.5rem;
                    height: 1.5rem;
                    user-select: none;
                }

                &:hover:not(.add-new) {
                    background-color: var(--nav-border);
                }
            }

            & li.all {
                justify-content: start;
                align-items: center;
                flex: 1 1 0;
                gap: .5rem;
            }

            & li.add-new {
                display: flex;
                padding: 0;
                font-size: .9rem;

                & div {
                    display: flex;
                    flex-grow: 1;
                    justify-content: center;
                    align-items: center;
                    gap: .3rem;
                    padding: .8rem 1rem;
                    border-radius: 1rem 0 0;
                    border: 1px solid var(--nav-border);
                    border-top: 0;
                    border-left: 0;
                }

                & div:last-child {
                    border-right: none;
                    border-radius: 0;
                }

                & div:hover {
                    background-color: var(--nav-border);
                }

                & svg {
                    width: 1rem;
                    height: 1rem;
                }
            }
        }



        & > ul.shortcut-list {
            background-color: var(--shortcut-list-bg);

            & li {
                display: flex;
                flex-direction: column;
                gap: .5rem;
                padding: 1.3rem;
                font-size: 1rem;
                border-bottom: 2px solid var(--nav-border);

                & .title-wrapper {
                    display: flex;
                    align-items: center;
                    gap: .5rem;

                    & strong {
                        font-weight: 600;
                    }

                    & .item-count {
                        font-size: .7rem;
                        background-color: var(--nav-border);
                        background-color: hsl(0, 0%, 15%);
                        padding: .2rem .5rem;
                        margin: 0 0 0 1rem;
                        border-radius: 1rem;
                    }

                    & .remove-icon {
                        margin-left: .5rem;
                        cursor: pointer;
padding: .1rem;
                        &:hover {
                            opacity: .8;
                        }

                        &:active {
                            opacity: .5;
                        }

                        & svg {
                            width: 1rem;
                            height: 1rem;
                        }
                    }

                    & img {
                        width: 1.6rem;
                        height: 1.6rem;
                    }
                }

                & p.extra-info {
                    font-size: .9rem;
                    font-family: "Inter", sans-serif;
                    font-weight: 400;
                }
            }

            & li.info-heading {
                display: flex;
                flex-direction: row;
                align-items: center;
                font-size: .8rem;
                border-bottom: none;
                padding-bottom: 0;

                & > span {
                    background-color: hsl(0, 0%, 15%);
                    padding: .1rem .5rem;
                    border-radius: .5rem;
                    position: relative;

                    &:first-child {
                        margin-left: 1rem;
                        &::before {
                            content: '-';
                            position: absolute;
                            left: -1rem;
                        }
                    }
                }
            }

        }

    }
}