<section>
    <h6
        data-tooltip="Choose your keyboard layout. This is for visualization purposes and doesn't conflic with key input feature. if a key doesn't exist in the visulization keyboard, it will not cause an error on site functionality.">
        Layout
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-circle-question-mark-icon lucide-circle-question-mark">
            <circle cx="12" cy="12" r="10"></circle>
            <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
            <path d="M12 17h.01"></path>
        </svg>
    </h6>
    <div>
        <form id="keyboardLayoutForm" class="navOption radio-container" style="--total-radio: 2;">
            <div class="active-background"></div>
            <!-- <input id="40c9100e-e18b-40c6-8f8d-809db9f6e630-none" name="40c9100e-e18b-40c6-8f8d-809db9f6e630Radio"
                type="radio" value="none">
            <label for="40c9100e-e18b-40c6-8f8d-809db9f6e630-none">None</label> -->

            <!-- <input id="40c9100e-e18b-40c6-8f8d-809db9f6e630-generic" name="40c9100e-e18b-40c6-8f8d-809db9f6e630Radio"
                type="radio" value="generic">
            <label for="40c9100e-e18b-40c6-8f8d-809db9f6e630-generic">Generic</label> -->
        </form>
    </div>
</section>