/* TOGGLE BUTTON */
.navOption.toggle {
    --animation: .3s cubic-bezier(0.645, 0.045, 0.355, 1.0);

    font-size: 1rem;
    display: grid;
    place-content: center;
    cursor: pointer;
    height: 1.5em;
    width: 4em;
    border-radius: 15px;
    background-color: #394a56;
    transition: background-color var(--animation);

    &:has(input:checked) {
        background-color: rgb(41, 135, 218);
    }

    & input {
        display: none;
    }

    & .toggle {
        height: 2em;
        width: 2em;
        border-radius: 50%;
        background: #fff;
        transform: translateX(-70%);
        transition: transform var(--animation), scale var(--animation);
    }

    & input:checked ~ .toggle {
        transform: translateX(70%);
    }

    &:active .toggle {
        scale: .85;
        transition-timing-function: ease-out;
    }
}





/* SLIDER */
.navOption.slider-container {
    position: relative;
    width: 100%;

    --thumb-width: 1em;
    --thumb-height: 1em;


    /* Invisible Slider */
    & input {
        width: 100%;
        appearance: none;
        background: transparent;
    }

    & input::-webkit-slider-thumb {
        appearance: none;
        width: var(--thumb-width);
        height: var(--thumb-height);
        border: none;
        background: transparent;
        cursor: pointer;
    }

    & input::-moz-range-thumb {
        appearance: none;
        width: calc(var(--thumb-width) + .1em);
        height: calc(var(--thumb-height) + .1em);
        border: none;
        background: transparent;
        cursor: pointer;
    }


    /* Visual Slider */
    & .track {
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        width: 100%;
        height: .35rem;
        border-radius: .35rem;
        background: #444;
        z-index: 0;
        pointer-events: none;
    }

    & .thumb {
        position: absolute;
        top: 50%;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #ff6a00;
        transform: translate(-50%, -50%);
        z-index: 0;
        pointer-events: none;

        & .tooltip {
            position: absolute;
            bottom: 130%;
            left: 50%;
            transform: translateX(-50%);
            background: #222;
            color: white;
            padding: 4px 8px;
            border-radius: 4px;
            font-size: 12px;
            pointer-events: none;
            opacity: 0;
            transition: opacity .2s ease;

            &::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
                border: 4px solid;
                border-color: #222 transparent transparent transparent;
            }
        }
    }

    &:hover .tooltip {
        opacity: 1;
    }

}









/* Radio */
.navOption.radio-container {
    --main-color: hsl(51, 89%, 71%);
    --main-color-opacity: hsla(51, 89%, 71%, 0.15);
    --total-radio: 1;
    --selected-input-num: 0;

    display: flex;
    flex-direction: column;
    position: relative;
    isolation: isolate;

    & input {
        cursor: pointer;
        appearance: none;
    }

    & label {
        cursor: pointer;
        padding: 1rem;
        position: relative;
        color: grey;
        transition: all 0.4s ease-out;
        z-index: 2;
        user-select: none;
    }

    & input:checked + label {
        color: var(--main-color);
        pointer-events: none;
    }

    & .active-background {
        position: absolute;
        inset: 0;
        bottom: auto;
        background-color: var(--main-color-opacity);
        height: calc(100% / var(--total-radio));
        z-index: 1;
        transition: transform .4s cubic-bezier(0.19, 1.0, 0.22, 1.0);
    }

    & .active-background {
        transform: translateY(calc(100% * var(--selected-input-num)));
    }
}