.shortcut-explorer-wrapper {
    display: flex;
    flex: 1 1;
    border-radius: 1rem;
    border: 1px solid var(--nav-border);
    overflow: hidden;
    background-color: var(--nav-background);


    & > .side-panel {
        flex: 0 0 25%;
        min-width: 250px;
        max-width: 50%;


        & > ul.nav {
            display: flex;
            flex-wrap: wrap;
            font-size: .9rem;

            & li {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: .5rem;
                flex-grow: 1;
                flex-basis: 50%;
                font-weight: 500;
                height: 3rem;
                cursor: pointer;
                color: #b3b3b3;
                background-color: var(--shortcut-nav-background);
                border: 1px solid var(--nav-border);
                border-top: 0;

                &:first-child {
                    border-left: 0;
                    border-right: 0;
                }

                &:nth-child(3) {
                    border-left: 0;
                }

                & svg {
                    width: 1.1rem;
                    height: 1.1rem;
                    color: #b3b3b3;
                }
            }
        }

        & > ul.software-list {
            background-color: var(--shortcut-nav-background);
            border-right: 1px solid var(--nav-border);
            height: 100%;

            & li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                transition: background-color .05s;
                padding: 1rem;
                font-size: .8rem;

                & span {
                    display: flex;
                    place-content: center;
                    gap: .5rem;
                }

                & .option-wrapper {
                    display: flex;
                    gap: .3rem;
                    align-items: center;

                    & span.total {
                        background-color: var(--shortcut-nav-background);
                        padding: .2rem .5rem;
                        border-radius: .5rem;
                        font-size: .8rem;
                    }

                    & span:not(.total) {
                        display: none;
                        margin-left: .5rem;
                        cursor: pointer;
                        padding: .1rem;
                        &:hover {
                            opacity: .8;
                        }

                        &:active {
                            opacity: .5;
                        }

                        & svg {
                            width: 1rem;
                            height: 1rem;
                        }
                    }

                    & span:not(.total):not(.remove-icon) {
                        opacity: .5;
                        pointer-events: none;
                    }
                }

                & img,
                svg {
                    width: 1.5rem;
                    height: 1.5rem;
                    user-select: none;
                }

                &:hover .option-wrapper span {
                    display: inline;
                }
            }

            & li.all {
                align-items: center;
                flex: 1 1 0;
                gap: .5rem;
            }
        }
    }










    & > .explorer {
        flex: 1 1 0;

        & > ul.nav {
            display: flex;
            flex-direction: column;

            & div.main-content {
                list-style: none;
                font-size: .8rem;
                display: flex;
                align-items: start;
                justify-content: space-between;
                padding: 1rem;

                & li.info-heading {
                    display: flex;
                    gap: 1rem;

                    & .active-shortcut-list {
                        display: flex;
                        flex-wrap: wrap;
                        gap: .5rem;
                        position: relative;

                        & > span {
                            color: hsl(0, 0%, 90%);
                            font-size: .7rem;
                            background-color: hsl(0, 0%, 15%);
                            padding: .2rem .6rem;
                            border-radius: 1rem;
                            cursor: pointer;
                        }
                    }
                }

                & li.quick-options {
                    display: flex;
                    gap: .7rem;
                    align-items: center;

                    & input {
                        display: none;
                    }

                    & label {
                        cursor: pointer;
                        display: flex;
                        gap: .3rem;
                        flex-wrap: nowrap;
                        align-items: center;
                        font-size: .7rem;
                        overflow: hidden;
                        width: 1.5rem;
                        transition: .2s ease;
                        transition-property: width, padding;
                        position: relative;
                        user-select: none;
                        padding: .2rem;

                        & span {
                            opacity: .5;
                            transition: opacity .2s ease;
                        }

                        &.active {
                            padding: .2rem .5rem;
                            width: calc(.5rem * 2 + 1.1rem + .3rem + var(--max-width-value));
                            background-color: hsla(0, 0%, 100%, .05);
                            border-radius: 2rem;

                            & span {
                                opacity: 1;
                            }
                        }

                        & svg {
                            min-width: 1.1rem;
                            min-height: 1.1rem;
                            width: 1.1rem;
                            height: 1.1rem;
                            transition: .2s ease;
                            color: #b3b3b3;
                        }
                    }

                }
            }

            .search-wrapper {
                height: 0;
                transition: height .2s ease;
                overflow: hidden;
                padding: 0 1rem;
                display: flex;
                align-items: center;

                &.active {
                    height: 4rem;
                }

                & ul.search {
                    width: 100%;
                    height: 2.5rem;
                    display: flex;
                    gap: .5rem;
                    list-style: none;
                    background-color: hsla(0, 0%, 100%, 0.05);
                    border-radius: 1rem;
                    padding: 0 1rem;

                    & li {
                        height: 100%;
                        display: flex;
                        align-items: center;
                    }

                    & li.field {
                        flex-grow: 1;
                        display: flex;
                        gap: .5rem;

                        & svg {
                            width: 1.2rem;
                            height: 1.2rem;
                        }

                        & input {
                            width: 100%;
                            height: 100%;
                            outline: 0;
                            border: 0;
                            background-color: transparent;
                            font-size: .8rem;
                            font-family: Verdana, Arial, sans-serif;
                        }
                    }

                    & .options-wrapper {
                        display: flex;
                        gap: .5rem;

                        & span {
                            display: grid;
                            place-content: center;
                            padding: .3rem;
                            cursor: pointer;
                            position: relative;
                            isolation: isolate;

                            &::before {
                                position: absolute;
                                inset: 0;
                                content: '';
                                background-color: transparent;
                                z-index: 0;
                                border-radius: .5rem;
                                scale: 0;
                                transition: .2s ease;
                                transition-property: scale, background-color;
                            }

                            & svg {
                                position: relative;
                                width: 1.05rem;
                                height: 1.05rem;
                                z-index: 1;
                                transition: scale .2s ease;
                            }

                            &.active::before {
                                scale: 1;
                                background-color: hsla(0, 0%, 100%, 0.2);
                            }

                            &:active svg {
                                scale: .9;
                            }
                        }
                    }
                }
            }
        }

        & > ul.shortcut-list {
            background-color: var(--shortcut-list-bg);
            overflow-y: auto;
            scrollbar-width: none;
            position: relative;

            &::-webkit-scrollbar {
                display: none;
            }

            & li {
                padding: 1.3rem;
                font-size: 1.1rem;
                border-bottom: 2px solid var(--nav-border);

                & .title-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    & .title {
                        display: flex;
                        gap: .5rem;
                        align-items: center;

                        & img {
                            width: 2rem;
                            height: 2rem;
                            border-radius: .3rem;
                        }

                        & strong {
                            font-weight: 600;
                        }

                        & .active-keys {
                            display: flex;
                            gap: .5rem;
                            position: relative;

                            & > span {
                                color: hsl(0, 0%, 90%);
                                font-size: .7rem;
                                background-color: hsl(0, 0%, 15%);
                                padding: .2rem .6rem;
                                border-radius: 1rem;
                            }
                        }
                    }


                    & div.options-wrapper {
                        transform: translateX(calc(100% + 1.3rem));
                        opacity: .3;
                        transition: .4s cubic-bezier(1, 0, 1, 1);
                        transition-property: transform, opacity;
                        position: relative;
                        height: 2rem;
                        width: 10rem;

                        &:has(span.active) {
                            transform: translateX(0);
                        }

                        & > span {
                            position: absolute;
                            right: 0;
                            top: 50%;
                            display: block;
                            cursor: pointer;
                            transition: .2s ease;
                            transform: translateY(-50%);
                            padding: .5rem;
                            transition-property: padding, background-color;


                            & svg {
                                width: 1.05rem;
                                height: 1.05rem;
                                color: #b3b3b3;
                                transition: scale .2s ease;
                            }

                            &:active svg {
                                scale: .9;
                            }

                            & > span {
                                position: absolute;
                                inset: 0;
                                scale: 0;
                                border-radius: .5rem;
                                transition: .2s ease;
                                transition-property: scale, background-color;
                            }

                            &.active > span {
                                scale: 1;
                                background-color: hsla(0, 0%, 100%, 0.2);
                            }

                            &:nth-child(1) {
                                translate: -6.6rem 0;
                            }

                            &:nth-child(2) {
                                translate: -4.4rem 0;
                            }
                            &:nth-child(3) {
                                translate: -2.2rem 0;
                            }
                            &:nth-child(4) {
                                translate: 0rem 0;
                            }
                            &:nth-child(1), &:nth-child(2), &:nth-child(3) {
                            /* &:nth-child(n <= 3) { */
                                pointer-events: none;
                                opacity: .5;
                            }
                        }
                    }

                    & div.options-wrapper:has(span.active) {
                        opacity: .5;
                        transition-duration: .5s;
                        transition-timing-function: cubic-bezier(0, 0, 0, 1);
                    }
                }

                & p.extra-info {
                    margin-top: .5rem;
                    font-size: .8rem;
                    font-family: Verdana, Arial, sans-serif;
                    font-weight: 400;
                }


                &.active div.options-wrapper {
                    transform: translateX(0);
                    opacity: 1;
                    transition-timing-function: cubic-bezier(.3, 0, 0, .9);
                }

                &:hover div.options-wrapper:has(span.active) {
                    opacity: 1;
                }
            }
        }
    }

}